{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Contact Us {% endblock %}
{% load static %}
{% block breadcrumb %}

<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>

{% endblock %}

<meta name="viewport" content="width=device-width, initial-scale=1">

{% block content %}


<style>
/* Position text in the left top corner of the page */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size:40px;
  /*border: 8px solid #f1f1f1;*/
  position: fixed;
  top: 22%;
  left: 22.5%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 650px;
  padding: 10px;
  text-align: center;
}
</style>

<div class="bg-text">ADDICTION THERAPY SERVICES</div>




<style>
/****Foundations Styling****/
p.para3{
margin: auto;
text-align:left;
padding-top: 28px;
padding-left: 75px;
padding-right:90px;
align-self:center;
pointer-events: auto;
font-size: 16.5px;
line-height: 1.9;
align: center;
}
.h3para3{
padding-top: 50px;
padding-left: 20px;
font-size: 20px;
font-weight: bolder;
}

h2{
padding-top: 40px;
padding-left: 20px;
font-size: 20px;
font-weight: bold;
}


.btn {
  background-color: #ddd;
  border: 1px solid black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #01A9DB;
  color: white;
  outline: 2px solid #01A9DB;
  outline-offset: 5px;
}

#imgcert1{
padding: 20px;
}

ul.d{
font-size: 15px;
padding-left: 200px;
padding-top: 15px;
}

</style>

<div class="row">

	<div class="col-8 bg-white">
		<div class="row">
			<!--<h3 class="h3para3"><i>“Genesis Sober was created to be a refuge for recovery in a world stricken by addiction.”</i></h3>-->
		<p class="para3">At Genesis Sober, our top priority is you. We don’t believe in being a treatment centre that
            treats all of their clients like numbers. Every person’s experience with addiction is different, so why should
            their treatment plans be any different? We carefully design our addiction treatment programs and regimens
            around each client, giving them the best chance at lasting recovery.</p>
		</div>
		<br>
		<hr>
		<div class="row text-center">
		<h2>COMPREHENSIVE AND INDIVIDUALIZED ADDICTION TREATMENT PROGRAMS</h2>
            <div class="container-fluid">

		<P class="para3"><img src="{% static 'images/gym1.jpg' %}" alt="Photo 1" style="width: 400px; height:250px; float: right;">
         Addiction treatment programs are your tools for overcoming addiction. They help you understand the depths of your
            addiction, how it began, and why you continue to use substances. When you’re struggling with addiction,
            it may be difficult to see these things clearly. Furthermore, if you have an underlying mental health
            disorder or chronic pain, your understanding of your circumstances may be even more confusing.
            The professionals at Pillars Recovery can help you identify these issues so you know which addiction
            treatment programs will work best for you. Whether you need a dual diagnosis or another form of treatment,
            the Pillars Recovery team is ready to develop a plan that’s perfect for you.</P>

            </div>
		</div>


		<div class="row"></div>

		<hr>
		<div class="row text-center">
		<h2>COMFORTABLE ATMOSPHERE AND TREATMENT</h2>
		<p class="para3">Detox is one of the first addiction treatment programs you’ll undergo at Pillars Recovery.
            We understand that this is one of the most difficult processes in the whole addiction treatment journey.
            Therefore, we offer comfortable homes where our clients can undergo our addiction detox program in a safe
            and serene environment. Guests at our Comfort Detox facilities have 24/7 medical supervision and monitoring.
            Therefore, they never have to worry about being alone during this challenging process. We also offer drug
            and alcohol detox to help our clients withstand the uncomfortable withdrawal symptoms they may face.
“Get in Touch…”
CALL US TODAY 866-790-1930
“Know your benefits…”
</p>
		</div>
		<br>
		<hr>
		<div class="row">
			<h2>ENGAGING ADDICTION THERAPY SERVICES</h2>

				<p class="para3">
					At Pillars Recovery, we understand that addiction is a complex disease. It affects multiple parts of
                    a person’s life and can come concurrently with other problems, like codependency, mental illness,
                    and chronic pain. We designed our addiction therapy services to address these issues and help clients
                    build connections with others. The support networks built during recovery can sustain our clients
                    throughout treatment and into their lifelong recovery.</p>

		</div>
		<hr>
		<div class="row">
		<h2>SUSTAINABLE RECOVERY</h2>
		<p class="para3">At Pillars Recovery, we’re invested in your future, not just your present. Therefore, it’s important
            to us that your recovery journey continues long after you leave rehab. In our addiction treatment programs,
            our professional treatment teams help you develop the life skills you need to live independently after you
            leave treatment. This way, you can rest assured that you can prevent relapse without the constant care and
            supervision of our team.</p>
		</div>
		<hr>


        		<div class="row">
		<h2>LET US MEET YOU WHERE YOU ARE</h2>
		<p class="para3">At Pillars Recovery, we want to meet you where you are on your journey and help you achieve sobriety.
            Whether this is your first time pursuing treatment or your fifth, the specialists at Pillars Recovery will
            always treat you with the care, respect, and attention that you deserve. Our beautiful Orange County locations
            offer several addiction treatment programs to help you along your recovery journey.
            These high-quality programs include the following:
•	Medication assisted treatment
•	Residential treatment
•	Intensive outpatient program
•	Partial hospitalization program
•	Dual diagnosis treatment
If you’re ready to begin your journey with Pillars Recovery, then call us today at 866-790-1930.
</p>
		</div>
		<hr>



	</div>

	<!--Video section
			<div class="container">
			<video width="320" height="240" controls autoplay>
  			<source src="movie.mp4" type="video/mp4">
			</video>
			</div>
			-->

	<div class="col-4 bg-warning" align="center">
		<div class="row">
			<h2>TAKE YOUR JOURNEY WITH GENESIS SOBER TODAY</h2>
		</div>
		<div class="row">
			<p style="padding-left:120px;"><a href="{% url 'learnmore' %}"><button class="btn">(+254) 723-865-762</button></a></p><br>
		</div>
		<div class="row">
			<p style="padding-left:150px;"><a href="{% url 'learnmore' %}"><button class="btn">Contact Us</button></a></p><br>
		</div>
		<div class="row">
			<p style="padding-left:120px;"><a href="{% url 'learnmore' %}"><button class="btn">Verify Your Insurance</button></a></p><br>
		</div>
		<hr>
		<div class="row">
			<h2>EXPERIENCE OUR MEDICATION ASSISTED TREATMENT PROGRAM TODAY</h2>
			<p style="padding-left:120px;"><a href="{% url 'medicationassisted' %}"><button class="btn">Learn About MAT Now</button></a></p>
		</div>
		<hr>
		<div class="row">
			<h2>Get Directions to Our Facility</h2>
			<!--<iframe src="https://www.google.com/maps/d/embed?mid=1hzQawTwjZKK1e7vvkjNprPSdOAg" width="640" height="480"></iframe>-->
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31912.797748385703!2d36.78625794336728!3d-1.0874561095165864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f3130f232d969%3A0xfafcaec7c2726da8!2sGenesis%20Sober%20Community!5e0!3m2!1sen!2ske!4v1572416517340!5m2!1sen!2ske" width="460" height="300" frameborder="4" style="border:4;"  allowfullscreen=""></iframe>
		</div>
		<hr>
		<div class="row">
			<h3>Adverts Section</h3><br>
			<img src="{% static 'images/logo/advert7.gif' %}" style="width:500px; height:1028px;"><br>
			<img src="{% static 'images/logo/advert8.gif' %}" style="width:480px; height:250px;">
		</div>
	</div>

</div>




    {% endblock %}