{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Aftercare {% endblock %}
{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active"><a href="{% url 'home' %}">Aftercare</a></li>

{% endblock %}

{% block content %}


<style>

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size:40px;
  /*border: 8px solid #f1f1f1;*/
  position: fixed;
  top: 21%;
  left: 14%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 400px;
  padding: 10px;
  text-align: center;
  border-radius: none;
}
</style>

<div class="bg-text">Aftercare Program</div>


<!--ABOUT GENESIS SOBER-->

 <style>
/****Foundations Styling****/
p.para3{
margin: auto;
text-align:left;
padding-top: 28px;
padding-left: 75px;
padding-right:90px;
align-self:center;
pointer-events: auto;
font-size: 16.5px;
line-height: 1.9;
align: center;
}
.h3para3{
padding-top: 50px;
padding-left: 20px;
font-size: 20px;
font-weight: bolder;
}

h2{
padding-top: 40px;
padding-left: 20px;
font-size: 20px;
font-weight: bold;
}


.btn {
  background-color: #ddd;
  border: 1px solid black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #01A9DB;
  color: white;
  outline: 2px solid #01A9DB;
  outline-offset: 5px;
}

#imgcert1{
padding: 20px;
}

ul.d{
font-size: 15px;
padding-left: 200px;
padding-top: 15px;
}

</style>

<div class="row">

	<div class="col-8 bg-white">
		<div class="row">
			<!--<h3 class="h3para3"><i>“Genesis Sober was created to be a refuge for recovery in a world stricken by addiction.”</i></h3>-->
		<p class="para3">Addiction isn’t a condition that just ends when people finish rehab. It’s a disorder that they
            continue to battle long afterward. Thankfully, aftercare treatment can provide ongoing care. However,
            what exactly is this treatment, and how does it benefit those who struggle with addiction?</p>
		</div>
		<br>
		<hr>
		<div class="row text-center">
		<h2>WHAT IS AFTERCARE?</h2>
            <div class="container-fluid">

		<P class="para3"><img src="{% static 'images/gym1.jpg' %}" alt="Photo 1" style="width: 400px; height:250px; float: right;">Aftercare,
            also known as continued treatment or ongoing care, is a specific program that occurs directly after rehab.
            In fact, before people enroll in continued care, they complete an initial addiction rehab program.
            Most of the time, this prior treatment is a residential program. However, it could be varying levels of
            outpatient rehab. During an aftercare program, they have access to many of the same services that they did during rehab. With that said,
            the actual programs that they participate in vary depending on their individual needs. In general, ongoing care involves different types of therapies and support groups. The goal is to help people transition
            from rehab to living on their own. Making a smooth transition is essential in helping them avoid relapse. As helpful as these types of programs are, it’s just as important to complete other types of rehab. Continued treatment
            builds on the goals and skills that people learned during rehab. Without a solid foundation, aftercare doesn’t work.</P>

            </div>
		</div>



		<div class="row"></div>

		<hr>
		<div class="row text-center">
		<h2>IS A CONTINUED TREATMENT PROGRAM REALLY NECESSARY?</h2>
		<p class="para3">It’s vital that people don’t underestimate the importance of an aftercare program. It’s often simple
			for them to sweep it under the rug and forget about it. They generally do because they feel good after rehab
			and think that they have a good handle on addiction urges. However, they miscalculate the cravings that they’ll
			have when they return to the real world. They tend to fall into many of the same traps that led to the development
			of addiction. In aftercare, the objective is to guide them in the right direction so that they don’t relapse.
			Studies suggest that over 2 million people in the United States have a substance use disorder (SUD). Because of that,
			just over 9 percent of the population uses drugs. Unfortunately, not all of them get the treatment that they need.
			Making matters worse, people who struggle with SUD are more likely to relapse after treatment. In fact,
			experts suggest that around 50 percent of them do. Experts believe that it most often occurs during the first
			few weeks of recovery. If that’s the case, then aftercare could prevent many of these relapses. Of course,
			a lot of people blow off continued treatment after they finish rehab. As a result, these programs never get
			to work their magic to prevent relapse.</p>
		</div>
		<br>
		<hr>
		<div class="row">
			<h2>GENESIS SOBER COMMUNITY WANTS TO HELP YOU TAKE YOUR LIFE BACK</h2>

				<p class="para3">
					If you’re serious about wanting to overcome addiction, then you need a rehab center that takes your
					recovery seriously. At Pillars Recovery, we provide addiction treatment programs that you can count on.
					We make it our goal to teach you coping skills to help you after rehab. Some of the services and
					programs that we have include:
•	Dual diagnosis treatment
•	On-site addiction detox program
•	Transitional living
•	Art therapy
•	Acupuncture and massage
At Genesis Sober, we also help people treat chronic pain. We know that dealing with pain is difficult for those who
					struggle with addiction. After all, they can’t rely on pain pills to numb the pain. However, we can
					teach them natural healing techniques that manage the pain. Don’t let yourself fall victim to relapse
					because you think that rehab marks the end of your addiction. Find out how an aftercare program can
					continue to guide you throughout recovery. Reach out to Genesis Sober in Kiambu County today
					at 866-790-1930.
</p>

		</div>
		<hr>
		<div class="row">
		<h2>BEGIN YOUR JOURNEY</h2>
		<p class="para3">At Genesis Sober, we’re here to guide you on a journey to healing from addiction. Our caring and
            compassionate counselors
			are ready to work with you to reach your goals. Furthermore, we treat people, not just disease. We’re experts
            at helping
			you find and heal from the traumas that facilitate addiction and relapse. Some of the programs we offer include
            the following:<br>
		  <ul class="d" style="font-size:16.5px;">
		    <li>Comfort Detox</li>
		    <li>Triple Diagnosis™</li>
		    <li>Dual diagnosis treatment</li>
		    <li>Intensive outpatient program</li>
		    <li>Partial hospitalization program</li>
		    <li>Substance abuse treatment</li>
		  </ul>
		</p><br>
		<p class="para3">When you’re ready to begin your recovery journey, reach out to us. We’re available 24/7 to answer any questions you have about your recovery.
		Call today at 0723-865-762 to learn more about Genesis Sober and how we can help you achieve a fulfilling and successful life.</p>
		</div>
		<hr>
	</div>

	<!--Video section
			<div class="container">
			<video width="320" height="240" controls autoplay>
  			<source src="movie.mp4" type="video/mp4">
			</video>
			</div>
			-->

	<div class="col-4 bg-warning" align="center">
		<div class="row">
			<h2>TAKE YOUR JOURNEY WITH GENESIS SOBER TODAY</h2>
		</div>
		<div class="row">
			<p style="padding-left:120px;"><a href="{% url 'learnmore' %}"><button class="btn">(+254) 723-865-762</button></a></p><br>
		</div>
		<div class="row">
			<p style="padding-left:150px;"><a href="{% url 'learnmore' %}"><button class="btn">Contact Us</button></a></p><br>
		</div>
		<div class="row">
			<p style="padding-left:120px;"><a href="{% url 'learnmore' %}"><button class="btn">Verify Your Insurance</button></a></p><br>
		</div>
		<hr>
		<div class="row">
			<h2>EXPERIENCE OUR MEDICATION ASSISTED TREATMENT PROGRAM TODAY</h2>
			<p style="padding-left:120px;"><a href="{% url 'medicationassisted' %}"><button class="btn">Learn About MAT Now</button></a></p>
		</div>
		<hr>
		<div class="row">
			<h2>Get Directions to Our Facility</h2>
			<!--<iframe src="https://www.google.com/maps/d/embed?mid=1hzQawTwjZKK1e7vvkjNprPSdOAg" width="640" height="480"></iframe>-->
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31912.797748385703!2d36.78625794336728!3d-1.0874561095165864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f3130f232d969%3A0xfafcaec7c2726da8!2sGenesis%20Sober%20Community!5e0!3m2!1sen!2ske!4v1572416517340!5m2!1sen!2ske" width="460" height="300" frameborder="4" style="border:4;"  allowfullscreen=""></iframe>
		</div>
		<hr>
		<div class="row">
			<h3>Adverts Section</h3><br>
			<img src="{% static 'images/logo/advert7.gif' %}" style="width:500px; height:1028px;"><br>
			<img src="{% static 'images/logo/advert8.gif' %}" style="width:480px; height:250px;">
		</div>
	</div>

</div>



{% endblock %}