{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Treatment {% endblock %}
{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>

{% endblock %}

{% block content %}

<div class="row">
  <div class="col">

  </div>
  <div class="col">

  </div>
</div>

<style>

/* Position text in the left top corner of the page */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size:40px;
  /*border: 8px solid #f1f1f1;*/
  position: fixed;
  top: 22%;
  left: 14%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 400px;
  padding: 10px;
  text-align: center;
}
</style>

<div class="bg-text">Discharge Planning</div>

<!--ABOUT GENESIS SOBER-->

 <style>
/****Foundations Styling****/
p.para3{
margin: auto;
text-align:left;
padding-top: 28px;
padding-left: 75px;
padding-right:90px;
align-self:center;
pointer-events: auto;
font-size: 16.5px;
line-height: 1.9;
align: center;
}
.h3para3{
padding-top: 50px;
padding-left: 20px;
font-size: 20px;
font-weight: bolder;
}

h2{
padding-top: 40px;
padding-left: 20px;
font-size: 20px;
font-weight: bold;
}


.btn {
  background-color: #ddd;
  border: 1px solid black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #01A9DB;
  color: white;
  outline: 2px solid #01A9DB;
  outline-offset: 5px;
}

#imgcert1{
padding: 20px;
}

ul.d{
font-size: 15px;
padding-left: 200px;
padding-top: 15px;
}

</style>

<div class="row">

	<div class="col-8 bg-white">
		<div class="row">
			<!--<h3 class="h3para3"><i>“Genesis Sober was created to be a refuge for recovery in a world stricken by addiction.”</i></h3>-->
		<p class="para3">Addiction doesn’t end once people get out of rehab. Unfortunately, recovery is a lifelong battle. Thankfully, this battle gets easier with the right coping skills. In order to make a smooth transition from rehab to home, they must participate in discharge planning.</p>
		</div>
		<br>
		<hr>
		<div class="row text-center">
		<h2>WHAT IS DISCHARGE PLANNING?</h2>
            <div class="container-fluid">

		<P class="para3"><img src="{% static 'images/gym1.jpg' %}" alt="Photo 1" style="width: 400px; height:250px; float: right;">Before getting into the ins and outs of discharge planning, people need to know what it is. The name says it all. It’s a program that helps people plan or prepare for their release from rehab. With proper planning, the transition from the rehab center to the outside world is less stressful.</P>

            </div>
		</div>



		<div class="row"></div>

		<hr>
		<div class="row text-center">
		<h2>WHY DO PEOPLE NEED TO PLAN FOR DISCHARGE?</h2>
		<p class="para3">It’s common for people to think that switching from rehab to home life is easy. In fact, they believe that they’ll experience nothing but joy when they get out of rehab. While that’s true on some level, a lot of stress and anxiety can accompany their release.
While living at a rehab facility, people have access to 24-hour support. They lose this level of support when they leave and are thrown back into the world or situation that led to addiction in the first place.
Oftentimes, the fear of relapse causes so much stress that people end up relapsing. Stress, anxiety, and fear are some of the most common reasons why people relapse. However, discharge planning from rehab can limit their anxiety and prepare them for everyday life.
</p>
		</div>
		<br>
		<hr>
		<div class="row">
			<h2>WHAT DOES PLANNING FOR DISCHARGE INVOLVE?</h2>

				<p class="para3">
					The first step of discharge planning is actually planning for release. While this step may sound like a no-brainer, some people put off the planning part until the last minute. The planning involves not only them getting out of rehab but also their family providing support. The last week of rehab needs to include meetings with family members and rehab staff to prepare for discharge day.
During the planning phase, the rehab staff generally proposes a few discharge plans. It’s up to the family and those in recovery to carefully review these plans and choose one. The goal is to make sure that the discharge plan is safe and viable.
However, why does the family have to get involved with discharge planning from rehab? One reason is because they need to assess and evaluate the home before release. Removing triggers and temptations from the house is important. As time passes, people learn to handle triggers, but it’s a slippery slope to deal with when they initially return.
Next, those in recovery set a time and place to join support group meetings. In order to continue to enjoy drug-free lives, they need support from like-minded people.
However, the best case is that the rehab center has an aftercare program. Such a program continues to offer support long after treatment ends. This extra support helps people avoid relapse as they adjust to living on their own. After all, they’re more likely to relapse within the first few weeks following discharge.</p>

		</div>
		<hr>
		<div class="row">
		<h2>GENESIS SOBER CAN HELP WITH PLANNING YOUR DISCHARGE</h2>
		<p class="para3">At Pillars Recovery, we don’t just want you to have a successful rehab stay. We also want you to continue that success long after treatment. For that reason, we offer discharge planning for all of our clients. Together, we can create a better tomorrow for you.
Beyond discharge planning from rehab, we have several programs that teach you how to manage addiction. We’ll create a custom treatment plan that puts your needs first. To that end, your plan at Pillars Recovery may include services such as:
•	Residential treatment
•	Group therapy and individual counseling
•	Art therapy
•	Drug detox
•	Holistic treatment
Don’t let your addiction recovery end with your rehab program. Let us help you prepare for the future with discharge planning. Reach out to Pillars Recovery at 866-790-1930 to learn more.
</p>
		</div>
		<hr>
	</div>

	<!--Video section
			<div class="container">
			<video width="320" height="240" controls autoplay>
  			<source src="movie.mp4" type="video/mp4">
			</video>
			</div>
			-->

	<div class="col-4 bg-warning" align="center">
		<div class="row">
			<h2>TAKE YOUR JOURNEY WITH GENESIS SOBER TODAY</h2>
		</div>
		<div class="row">
			<p style="padding-left:120px;"><a href="{% url 'learnmore' %}"><button class="btn">(+254) 723-865-762</button></a></p><br>
		</div>
		<div class="row">
			<p style="padding-left:150px;"><a href="{% url 'learnmore' %}"><button class="btn">Contact Us</button></a></p><br>
		</div>
		<div class="row">
			<p style="padding-left:120px;"><a href="{% url 'learnmore' %}"><button class="btn">Verify Your Insurance</button></a></p><br>
		</div>
		<hr>
		<div class="row">
			<h2>EXPERIENCE OUR MEDICATION ASSISTED TREATMENT PROGRAM TODAY</h2>
			<p style="padding-left:120px;"><a href="{% url 'medicationassisted' %}"><button class="btn">Learn About MAT Now</button></a></p>
		</div>
		<hr>
		<div class="row">
			<h2>Get Directions to Our Facility</h2>
			<!--<iframe src="https://www.google.com/maps/d/embed?mid=1hzQawTwjZKK1e7vvkjNprPSdOAg" width="640" height="480"></iframe>-->
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31912.797748385703!2d36.78625794336728!3d-1.0874561095165864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f3130f232d969%3A0xfafcaec7c2726da8!2sGenesis%20Sober%20Community!5e0!3m2!1sen!2ske!4v1572416517340!5m2!1sen!2ske" width="460" height="300" frameborder="4" style="border:4;"  allowfullscreen=""></iframe>
		</div>
		<hr>
		<div class="row">
			<h3>Adverts Section</h3><br>
			<img src="{% static 'images/logo/advert7.gif' %}" style="width:500px; height:1028px;"><br>
			<img src="{% static 'images/logo/advert8.gif' %}" style="width:480px; height:250px;">
		</div>
	</div>

</div>


    {% endblock %}
