{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %} Treatment {% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active"><a href="{% url 'disbursement' %}">Disbursement Details</a></li>

{% endblock %}

{% block content %}
<h2> SAMPLE LOGIN FORM </h2>


<form action="action_page.php" method="post">
  <div class="imgcontainer">
    <img src="{% static 'images/avatar.jpg' %}" alt="Avatar" class="avatar">
  </div>

  <div class="container">
    <label for="uname"><b>Username</b></label>
    <input type="text" placeholder="Enter Username" name="uname" required>

    <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="psw" required>

    <button type="submit">Login</button>
    <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
    </label>
  </div>

  <div class="container" style="background-color:#f1f1f1">
    <button type="button" class="cancelbtn">Cancel</button>
    <span class="psw">Forgot <a href="#">password?</a></span>
  </div>
</form>

    {% endblock %}
