{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Locations {% endblock %}
{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>

{% endblock %}

{% block content %}


<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<style>
/* Position text in the left top corner of the page */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size:40px;
  /*border: 8px solid #f1f1f1;*/
  position: fixed;
  top: 22%;
  left: 21.5%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 620px;
  padding: 10px;
  text-align: center;
}
</style>

<div class="bg-text">Marijuana Addiction Treatment</div>



 <style>
/****Foundations Styling****/
p.para3{
margin: auto;
text-align:left;
padding-top: 28px;
padding-left: 75px;
padding-right:90px;
align-self:center;
pointer-events: auto;
font-size: 16.5px;
line-height: 1.9;
align: center;
}
.h3para3{
padding-top: 50px;
padding-left: 20px;
font-size: 20px;
font-weight: bolder;
}

h2{
padding-top: 40px;
padding-left: 20px;
font-size: 20px;
font-weight: bold;
}


.btn {
  background-color: #ddd;
  border: 1px solid black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #01A9DB;
  color: white;
  outline: 2px solid #01A9DB;
  outline-offset: 5px;
}

#imgcert1{
padding: 20px;
}

ul.d{
font-size: 15px;
padding-left: 200px;
padding-top: 15px;
}

</style>

<div class="row">

	<div class="col-8 bg-white">
		<div class="row">
			<!--<h3 class="h3para3"><i>“Genesis Sober was created to be a refuge for recovery in a world stricken by addiction.”</i></h3>-->
		<p class="para3">Regarding addictive drugs, people typically think of the ones that the media brings up on a regular basis. These substances include heroin, cocaine, meth, and other opioids. While marijuana is also addictive, people don’t consider it to be dangerous. Believe it or not, many people need marijuana addiction treatment.</p>
		</div>
		<br>
		<hr>
		<div class="row text-center">
		<h2>WHAT IS MARIJUANA?</h2>
            <div class="container-fluid">

		<P class="para3"><img src="{% static 'images/gym1.jpg' %}" alt="Photo 1" style="width: 400px; height:250px; float: right;">
          First, let’s clarify what marijuana is and how it works. This drug has many names, including pot, weed, and cannabis. It comes from the dried leaves of the Cannabis sativa or indica plant. While most people smoke the dried leaves to get high, others add the leaves to baked goods or tea.
However, what is it about weed that makes people high? After all, don’t they just smoke the leaves? While it’s true that they smoke dried leaves and flowers, the plant itself contains THC. This mind-altering chemical produces the “high” that they experience.
</P>

            </div>
		</div>


		<div class="row"></div>

		<hr>
		<div class="row text-center">
		<h2>IS MARIJUANA ADDICTIVE?</h2>
		<p class="para3">In short, marijuana is an addictive drug. While it’s not as addictive as extreme drugs such as heroin or cocaine, it can still cause addiction with regular use. Marijuana addiction treatment exists for this reason.
With substance use disorder, people are unable to stop using the drug in question. The most severe level of substance use disorder is an addiction.
Of course, substances other than pot can cause addiction. For example, it’s possible for people to suffer from caffeine addiction if they drink too much coffee or soda. As a result, it’s not too hard to believe that they can develop addictions to weed as well.
Finding a marijuana addiction treatment center California is the best course of action. Such a facility can help people overcome weed use disorder. It can also help people get to the root cause of pot addiction.
</p>
		</div>
		<br>
		<hr>
		<div class="row">
			<h2>THE SOURCE OF ADDICTION</h2>

				<p class="para3">
					In general, people don’t choose to develop addictions. It’s a disease that grows over time. What most people don’t know is that addiction typically stems from an underlying cause. Marijuana addiction treatment programs help them determine their underlying cause.
The most common one, however, is another mental illness. Sometimes people don’t even know that they suffer from a mental health disorder. When such problems go undiagnosed, though, people look for a way to feel normal. More often than not, they use alcohol, weed or other drugs to cover up the symptoms of the underlying disorder.
For that reason, they need the best marijuana addiction treatment center California can provide. It can help them uncover underlying mental disorders and determine the real cause of drug abuse. In some cases, trauma, pain, and stress are the source of the problem.
</p>

		</div>
		<hr>
		<div class="row">
		<h2>LET GENESIS SOBER HELP YOU OVERCOME BHANG ADDICTION</h2>
		<p class="para3">Do you need the best marijuana addiction treatment center Kiambu can offer? Consider getting help
          at Genesis Sober. We offer not only marijuana addiction treatment but also programs that help you overcome
          kinds of drug addiction. We strive to create custom treatment plans that single out your specific needs.
          At Pillars Recovery, our programs provide drug and marijuana addiction treatment. We even offer triple diagnosis
          treatment
          that helps you overcome pain, mental health, and addiction problems. Giving you access to all of these services
          in one place ensures that you have the best chance to recover. Some of the drug addiction treatment services that
          we offer include:
•	Transitional living
•	Psychotherapy
•	Individual therapy and group counseling
•	Pet therapy
•	Acupuncture and massage therapy
•	On-site detox
Don’t spend your life thinking that smoking weed has no long-term side effects. Learn more about marijuana addiction
          treatment and how it can help you build a better future. Reach out to Pillars Recovery today at 866-789-1652
          for more information about our programs and services.</p>
		</div>
		<hr>
	</div>

	<!--Video section
			<div class="container">
			<video width="320" height="240" controls autoplay>
  			<source src="movie.mp4" type="video/mp4">
			</video>
			</div>
			-->

	<div class="col-4 bg-warning" align="center">
		<div class="row">
			<h2>TAKE YOUR JOURNEY WITH GENESIS SOBER TODAY</h2>
		</div>
		<div class="row">
			<p style="padding-left:120px;"><a href="{% url 'learnmore' %}"><button class="btn">(+254) 723-865-762</button></a></p><br>
		</div>
		<div class="row">
			<p style="padding-left:150px;"><a href="{% url 'learnmore' %}"><button class="btn">Contact Us</button></a></p><br>
		</div>
		<div class="row">
			<p style="padding-left:120px;"><a href="{% url 'learnmore' %}"><button class="btn">Verify Your Insurance</button></a></p><br>
		</div>
		<hr>
		<div class="row">
			<h2>EXPERIENCE OUR MEDICATION ASSISTED TREATMENT PROGRAM TODAY</h2>
			<p style="padding-left:120px;"><a href="{% url 'medicationassisted' %}"><button class="btn">Learn About MAT Now</button></a></p>
		</div>
		<hr>
		<div class="row">
			<h2>Get Directions to Our Facility</h2>
			<!--<iframe src="https://www.google.com/maps/d/embed?mid=1hzQawTwjZKK1e7vvkjNprPSdOAg" width="640" height="480"></iframe>-->
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31912.797748385703!2d36.78625794336728!3d-1.0874561095165864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f3130f232d969%3A0xfafcaec7c2726da8!2sGenesis%20Sober%20Community!5e0!3m2!1sen!2ske!4v1572416517340!5m2!1sen!2ske" width="460" height="300" frameborder="4" style="border:4;"  allowfullscreen=""></iframe>
		</div>
		<hr>
		<div class="row">
			<h3>Adverts Section</h3><br>
			<img src="{% static 'images/logo/advert7.gif' %}" style="width:500px; height:1028px;"><br>
			<img src="{% static 'images/logo/advert8.gif' %}" style="width:480px; height:250px;">
		</div>
	</div>

</div>




    {% endblock %}
