{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %} Eating Disorder{% endblock %}
{% load static %}
{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>

{% endblock %}

{% block content %}

<meta name="viewport" content="width=device-width, initial-scale=1">

<style>

/* Position text in the left top corner of the page */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size:40px;
  /*border: 8px solid #f1f1f1;*/
  position: fixed;
  top: 22%;
  left: 21.10%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 610px;
  padding: 10px;
  text-align: center;
}
</style>

<div class="bg-text">Painkiller Addiction Treatment</div>


<!--ABOUT GENESIS SOBER-->

 <style>
/****Foundations Styling****/
p.para3{
margin: auto;
text-align:left;
padding-top: 28px;
padding-left: 75px;
padding-right:90px;
align-self:center;
pointer-events: auto;
font-size: 16.5px;
line-height: 1.9;
align: center;
}
.h3para3{
padding-top: 50px;
padding-left: 20px;
font-size: 20px;
font-weight: bolder;
}

h2{
padding-top: 40px;
padding-left: 20px;
font-size: 20px;
font-weight: bold;
}


.btn {
  background-color: #ddd;
  border: 1px solid black;
  color: black;
  padding: 16px 32px;
  text-align: center;
  font-size: 16px;
  margin: 4px 2px;
  transition: 0.3s;
}

.btn:hover {
  background-color: #01A9DB;
  color: white;
  outline: 2px solid #01A9DB;
  outline-offset: 5px;
}

#imgcert1{
padding: 20px;
}

ul.d{
font-size: 15px;
padding-left: 200px;
padding-top: 15px;
}

</style>

<div class="row">

	<div class="col-8 bg-white">
		<div class="row">
			<!--<h3 class="h3para3"><i>“Genesis Sober was created to be a refuge for recovery in a world stricken by addiction.”</i></h3>-->
		<p class="para3">If addiction is affecting the quality of your life, painkiller addiction treatment is available
            in California. You don’t have to go far to find excellent care that can help put you on the road to recovery.
            With the proper treatment tools and resources, you can get clean and start developing healthier lifestyle
            habits. By the time you finish treatment at a center like Pillars Recovery in Orange County, California,
            you should feel ready to maintain lifelong results.</p>
		</div>
		<br>
		<hr>
		<div class="row text-center">
		<h2>DON’T WAIT TO FIND PAINKILLER ADDICTION TREATMENT</h2>
            <div class="container-fluid">

		<P class="para3"><img src="{% static 'images/gym1.jpg' %}" alt="Photo 1" style="width:400px; height:250px; float:right;">
            Painkiller addiction is one of the fastest growing and most dangerous addictions in the country. Millions of
            people need help, but only a small fraction will actively seek out painkiller addiction treatment. If you’re
            addicted to painkiller medication, your health and life are at risk. Don’t continue to place yourself at risk
            for possible overdose, withdrawal, coma, or even accidental death. A painkiller addiction treatment center
            California offers can help you take the first step towards a drastic lifestyle change. Upon entering rehab,
            you’ll gain access to some of the finest treatment modalities and services that are available. You can have
            a treatment plan drawn out for you that outlines each step of your recovery journey, from start to finish.
            Your personalized treatment plan can even help guide you back towards sobriety in the event of possible
            relapse along the way. There is no reason to suffer alone with addiction when there are various painkiller
            addiction treatment opportunities within reach. A painkiller addiction treatment center California offers
            can provide you with instruction and support throughout each phase of rehabilitation. There doesn’t have to
            be any second-guessing about what your next step should be, or how to approach recovery safely. An addiction
            rehab center like Pillars Recovery can handle all of the stressful decisions and assist you in reaching your
            long-term goals.</P>

            </div>
		</div>



		<div class="row"></div>

		<hr>

		<div class="row">
			<h2>WHAT TO EXPECT DURING TREATMENT</h2>

				<p class="para3">
					Every rehab center is a bit different, but most offer staple programs and services like Detox,
                    Addiction Therapy, and Dual Diagnosis Therapy. Your recovery needs can be determined upon arrival
                    before any painkiller addiction treatment is administered. Depending upon your history with addiction,
                    you might need to undergo detox prior to beginning a painkiller addiction treatment plan. While
                    leftover toxins filter out of your body, your health and symptoms can be closely monitored by caring
                    specialists. Most people also find that their mind is clearer after detox, further benefiting the
                    recovery process. Addiction therapy can be a very important part of your rehab experience, especially
                    if you’ve used painkiller abuse as a coping method in the past. If you expect to get clean and remain
                    sober after treatment, you must put an end to abusive behaviors and adopt healthier habits. Otherwise,
                    you’ll likely return to substance abuse once you return to your real life. Addiction therapy can also
                    help you identify your addiction triggers and any past problems or traumas that you may be running from.
                    From there, you can begin to heal yourself, emotionally and physically. Dual diagnosis treatment could
                    be a part of your treatment plan if you also suffer from a co-occurring emotional condition, like
                    bipolar disorder or schizophrenia. This type of therapy treats the symptoms of addiction and mental
                    illness at the same time. By treating both problems instead of focusing on the addiction, individuals
                    gain a significantly increased chance for total rehabilitation.</p>

		</div>
		<hr>

		<div class="row">
		<h2>FIND A CALIFORNIA REHAB TODAY</h2>
		<p class="para3">
			If you’re ready to find the best painkiller addiction treatment center California has to offer, look no further.
            Pillars Recovery in Orange County, California, offers top-notch treatment in a safe and comfortable setting.
            We’ll help you transition towards a life of total sobriety.
We offer programs and therapies like:
•	Drug detox
•	Residential treatment
•	Partial hospitalization program
•	Transitional living program
•	Family therapy
To learn more about our programs and services, call our chronic pain treatment center at 866-789-1652. We’d like to help
            you find the right combination of therapies to best meet your specific recovery needs.</p>
			<br>

		</div>
		<hr>



</div>

	<!--Video section
			<div class="container">
			<video width="320" height="240" controls autoplay>
  			<source src="movie.mp4" type="video/mp4">
			</video>
			</div>
			-->

	<div class="col-4 bg-warning" align="center">
		<div class="row">
			<h2>TAKE YOUR JOURNEY WITH GENESIS SOBER TODAY</h2>
		</div>
		<div class="row">
			<p style="padding-left:120px;"><a href="{% url 'learnmore' %}"><button class="btn">(+254) 723-865-762</button></a></p><br>
		</div>
		<div class="row">
			<p style="padding-left:150px;"><a href="{% url 'learnmore' %}"><button class="btn">Contact Us</button></a></p><br>
		</div>
		<div class="row">
			<p style="padding-left:120px;"><a href="{% url 'learnmore' %}"><button class="btn">Verify Your Insurance</button></a></p><br>
		</div>
		<hr>
		<div class="row">
			<h2>EXPERIENCE OUR MEDICATION ASSISTED TREATMENT PROGRAM TODAY</h2>
			<p style="padding-left:120px;"><a href="{% url 'medicationassisted' %}"><button class="btn">Learn About MAT Now</button></a></p>
		</div>
		<hr>
		<div class="row">
			<h2>Get Directions to Our Facility</h2>
			<!--<iframe src="https://www.google.com/maps/d/embed?mid=1hzQawTwjZKK1e7vvkjNprPSdOAg" width="640" height="480"></iframe>-->
			<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31912.797748385703!2d36.78625794336728!3d-1.0874561095165864!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f3130f232d969%3A0xfafcaec7c2726da8!2sGenesis%20Sober%20Community!5e0!3m2!1sen!2ske!4v1572416517340!5m2!1sen!2ske" width="460" height="300" frameborder="4" style="border:4;"  allowfullscreen=""></iframe>
		</div>
		<hr>
		<div class="row">
			<h3>Adverts Section</h3><br>
			<img src="{% static 'images/logo/advert7.gif' %}" style="width:500px; height:1028px;"><br>
			<img src="{% static 'images/logo/advert8.gif' %}" style="width:480px; height:250px;">
		</div>
	</div>

</div>


    {% endblock %}
