<!--{% extends 'base.html' %}-->
<!--{% load crispy_forms_tags %}-->
{% block title %}Contact Us Information{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active"><a href="{% url 'applicant' %}">Contact Information</a></li>

{% endblock %}

{% block content %}
<h2> New Contact Information </h2>

<style>

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size:40px;
  /*border: 8px solid #f1f1f1;*/
  position: fixed;
  top: 22%;
  left: 11%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 10px;
  text-align: center;
}
</style>

<div class="bg-text">View the Contacts</div>


<div><label>FILTER RECORDS</label>
<input type="text" id="FilterInput">
</div>
<form  class="was-validated">

  <table class="table table-dark table-striped container">
      <thead class="thead thead-inverse thead-dark">
      <tr>
          <th>yname</th>
          <th>phonenum</th>
          <th>county</th>
          <th>subject</th>
          <th>hearus</th>
      </tr>
      </thead>
      <tbody id="ContactusTable">
{% for contactus in Contactus %}
        <tr>
          <td>{{contactus.yname}}</td>
          <td>{{contactus.phonenum}}</td>
          <td>{{contactus.county}}</td>
          <td>{{contactus.subject}}</td>
          <td>{{contactus.hearus}}</td>
        </tr>
 {% endfor %}
      </tbody>
  </table>

</form>
    {% endblock %}
