{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Disbursements{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
<li class="breadcrumb-item active"><a href="{% url 'disbursement' %}">Disbursement Details</a></li>

{% endblock %}

{% block content %}
<h2> BURSARY DISBURSEMENT DETAILS </h2>

<style>

/* Position text in the middle of the page/image */
.bg-text {
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
  color: white;
  font-weight: bold;
  font-size:40px;
  /*border: 8px solid #f1f1f1;*/
  position: fixed;
  top: 22%;
  left: 11%;
  transform: translate(-50%, -50%);
  z-index: 2;
  width: 300px;
  padding: 10px;
  text-align: center;
}
</style>

<div class="bg-text">View the Disbursements</div>


<form  class="was-validated">

  <table class="table table-striped container">
      <thead class="thead-inverse">
      <tr>
          <th>Applicant_ID</th>
          <th>Amount_Disbursed</th>
          <!--<th>Last_Name</th>-->
          <th>Disbursement_No</th>
          <th>Disbursement_Date</th>
      </tr>
      </thead>

      <tbody>
{% for disbursement in Disbursements %}
        <tr>
        <td>{{disbursement.Applicant_ID}}</td>
        <td>{{disbursement.Amount_Disbursed}}</td>
        <!--<td>{{disbursement.Last_Name}}</td>-->
        <td>{{disbursement.Disbursement_No}}</td>
        <td>{{disbursement.Disbursement_Date}}</td>
        <td class="text-left">
            <a class="btn-warning" href="{% url 'editdisbursement' pk=disbursement.id %}">Edit</a>
            <a class="btn-danger" href="{% url 'deletedisbursement' pk=disbursement.id %}">Delete</a>
        </td>
        </tr>
 {% endfor %}
      </tbody>
  </table>

</form>
    {% endblock %}